*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  position: absolute;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

video{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  background-color: black;
  transform: scale(-1, 1);
}

.controls{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 42px;

}

.controls button{
  margin-bottom: 10px;
  border: 0;
  padding: 0;
  width: 42px;
  height: 42px;
  cursor: pointer;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}